name: automatically merges a child branch
on:
 push:
  branches:
    - main
jobs:
  mergerjob:
    runs-on: ubuntu-latest
    steps:
      - name: checkout main branch
        uses: actions/checkout@v4
         
      - name: operation to merge to main
        run: |
           git config user.name "harshith"
           git config user.email "harshith@github.com"
           git fetch origin dev main
           git checkout dev
           git pull origin dev
           git merge origin/main --allow-unrelated-histories
           git push origin dev
            
           
