name: automatically merges a child branch
on:
 push:
  branches:
    - dev
jobs:
  mergerjob:
     runs-on: ubuntu-latest
     steps:
       - name: checkout main branch
         uses: actions/checkout@v4
         with:
           ref: main
           token: ${{ secrets.AUTH_TOKEN }}
       - name: operation to merge to main
         run: |
            git config user.name "harshith"
            git config user.email "harshith@github.com"
            git fetch origin dev
            git merge origin/dev -admin
            gt push origin main
            
           
    

