name: automatically merges a child branch
on:
 push:
  branches:
    - dev
jobs:
  mergerjob:
     runs-on: ubuntu-latest
     steps:
       - name: checkout main branch
         uses: actions/checkout@v4
         with:
           token: ${{ secrets.AUTH_TOKEN }}
       - name: checkout dev branch
         run: |
          git checkout dev
          git pull origin dev
       - name: checkout dev branch
         run: |
          git fetch origin main
          git checkout main
          git pull origin main 
       - name: operation to merge to main
         run: |
            git config user.name "harshith"
            git config user.email "harshith@github.com"
            git merge origin/dev 
            gt push origin main
            
           
    

